*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

.board {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 100vh;
  justify-content: center;
  justify-items: center;
  width: 100vw;
}

.cell {  
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  height: var(--cell-size);
  justify-content: center;
  position: relative;
  width: var(--cell-size);
}

.cell:first-child,  
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3 ) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background-color: black;
  content: '';
  height: var(--mark-size);
  position: absolute;
  width: calc(var(--mark-size) * .15)
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  border-radius: 50%;
  content: '';
  position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  height: var(--mark-size);
  width: var(--mark-size);
  background-color: black;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  height: calc(var(--mark-size) * .7);
  width: calc(var(--mark-size) * .7);
  background-color: white;
}

.cell.x::before,
.cell.x::after,
.cell.x::before {
  background-color:black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgray;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}